* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background: black;
  font-weight: 600;
  width: 80px;
}
.edit-btn {
  background-color: green;
}
.del-btn {
  background-color: red;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
input {
  outline: none;
  border: none;
}
.container {
  height: 100vh;
  width: 100%;
  background: blanchedalmond;
  padding-top: 100px;
}
.to-do-app {
  max-width: 450px;
  width: 100%;
  background: black;
  color: #fff;
  padding: 50px 30px 50px 40px;
  border-radius: 20px;
  margin: auto;
  border: 2px solid blue;
}
.to-do-app h1 {
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
}
.to-do-app h2 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.to-do {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}
.to-do input {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}
.to-do button {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background: blue;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.task-list {
  list-style: none;
  line-height: 30px;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 17px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
.task-list li .desc span {
  user-select: none;
}
.task-list li input {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.checked {
  text-decoration: line-through;
  color: darkgray;
}
/* edit popup */
.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: #fff;
  display: none;
}
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: chocolate;
  padding: 40px 30px 40px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
}
.popup-container input {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 30px 0;
}
.popup-container .action button {
  margin: 0 15px;
}
.delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: #fff;
  display: none;
}
.delete-popup h2 {
  margin-bottom: 25px;
}
