* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}
.todo-app {
    background: #fff;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.todo-app h1 {
    color: #153677;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.todo-app img {
    width: 30px;
    margin-left: 10px;
}
.input-box {
    display: flex;
    align-items: center;
    background: #edeef0;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.input-box input {
    flex:1 ;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 500;
}
.input-box button {
    outline: none;
    border: none;
    padding:10px 35px;
    background: coral;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 12px;
    top: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before {
    background-image: url(To-Do-Img/images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    top: px;
    font-size: 22px;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
}
ul li span:hover {
    background-color: #b9b6b6;
}